#scoreTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
#scoreTable td,#scoreTable th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
#scoreTable tr:nth-child(even){background-color: #f2f2f2;}
  
#scoreTable tr:hover {background-color: #ddd;}
  
#scoreTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

button{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
  width: 100%;
  background-color: #12ac17;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}